<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:name=".KeepfitApplication"
        android:icon="@drawable/keepfit_brand_mark"
        android:label="@string/app_name"
        android:roundIcon="@drawable/keepfit_brand_mark"
        android:supportsRtl="true"
        android:theme="@style/Theme.Keepfit">
        <activity
            android:name=".health.HealthConnectSupportActivity"
            android:exported="true" />
        <activity-alias
            android:name=".health.HealthConnectPermissionsRationaleActivity"
            android:exported="true"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:targetActivity=".health.HealthConnectSupportActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".health.HealthConnectOnboardingActivity"
            android:exported="true"
            android:permission="android.permission.health.START_ONBOARDING"
            android:targetActivity=".health.HealthConnectSupportActivity">
            <intent-filter>
                <action android:name="android.health.connect.action.SHOW_ONBOARDING" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
